body {
  background-color: lightgray;
}

.block {
  display: inline-block;
  width: 225px;
  padding: 20px;
  border: 2px solid gray;
  box-shadow: 5px 5px 5px darkgray;
  margin: 20px;
  background-color: rgb(249, 244, 111);
  position: relative;
}

.block h2 {
  text-shadow: -2px -2px white, 2px 2px darkgray;
  text-align: center;
}

.block::before {
    content: '';
    display: block;
    width: 30%;
    height: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px 10px 0 0;
    position: absolute;
    margin: -30px;
    margin-left: 27%;
  }  